body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 17px;
}
#wrapper {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
img {
  max-width: 100%;
}
.logo {
	position: fixed;
	left: 10px;
	top:  9px;
}
.column {
	width: 25%;
	height: 100%;
	float: left;
	min-width: 250px;
}
.column-header {
	color: #FFF;
	font-family: "Exo";
	background: #B2D234;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-right: 1px solid #FFF;
}
.column-inner {
	height: 100%;
	overflow: scroll;
}






.feed {
/*   background: #c1c1c1; */
/*   border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
 /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6); */
  position: relative;
  width: 100%; /*300px; */
}
.feed li {
/*   background: #f5f5f5 url('../images/news-bg.png') repeat-x left bottom; */
  background: -webkit-linear-gradient(top, #f6f6f6 0%,#f0f0f0 100%);
  background-size: 100%;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #fbfbfb;
  float: left;
  min-height: 78px;
  padding: 0 10px;
  position: relative;
  /*width: 280px;*/
}
.home .feed li {
  padding-bottom: 10px;
}

.feed .thumb {
  background-size: 100%;
  border-radius: 6px;
  height: auto;
  position: absolute;
  top: 13px;
  width: 63px;
}
.feed h2 {
  line-height: 17.03px;
  float: left;
  font-size: 13.625px;
}
.feed li a {
  color: #2a2a2a;
  float: left;
  padding: 12px 20px 1.25em 78px;
  width: 190px;
}
.feed .time {
  color: #8e8e8e;
  font-size: 10px;
  position: relative;
  width: 30px;
}
.home .feed .time {
  left: 78px;
  margin-top: -2.5em;
  top: 0;
}